/* .btn {
  background-color: tomato;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  border-radius: 5px;
}

.bg-tomato {
  background-color: tomato;
} */
h1 {
  font-weight: bold;
  color: brown;
  text-align: center;
}
